body,
p {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Montserrat", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  /* Specify the font-weight as needed */
  font-weight: 500; /* Regular */
}

/* Apply Montserrat to specific elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* Bold */
}

/* Apply Montserrat to specific classes or IDs */
.custom-class {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; /* Medium */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
